
#title{
    background-image:url("Images/home/home4.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    padding:20px;
}
body{
    font-family: 'Montserrat';
   
}
.navbar{
    padding-bottom: 50px;
}
.nav-link{
    text-shadow: 50px;
    font-size: 20px;
    font-weight: bolder;
}

h1{
    font-family: "Montserrat";
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.5;
    padding-top: 40px;
}
.mobile{
   
    height:100%;
    margin-left: 50%;
    margin-top: 20%;
    transform: rotate(20deg);
}

#features{
    background-color:#cb0f0f ;
    padding:10%;
    position: relative;
    z-index: 1;
}
.feature-box{
    text-align: center;
    font-size: 20px;
    color:rgb(225, 204, 204);
}
.icon{
    padding-bottom: 10px;
    
}
.icon:hover{
    color: black;;
}
h3{
    font-weight: bold;
    color: black;
    font-size: 35px;
}
#Content{
    margin-top: 0;
    background-image: url("Images/Features/feature.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3%;
    text-align: center;
    color: white;
    padding-bottom: 3%;
    
}
h2{
    font-family: "Montserrat";
    font-weight: bolder;
    color:white;
    text-align: center;
    font-size: 50px;
    text-transform:uppercase;
    text-shadow: 5px 5px 10px black;
}
.content-pic{
    width:20%;
    margin: 10px;
}

#pricing{
    background-image:url("Images/pricing/pricing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding:0 100px 250px 100px;
    
}
.price{
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 5px 5px 10px white;

} 
.price-text{
    padding-top:20%;
    text-shadow: 4px 4px 7px black;
    
}   
.card:hover{
    box-shadow: 15px 15px 4px black;
}
.content-text{
    padding: 5% 5% 0 5%;
    text-align: center;
    font-size: 20px; 
    text-shadow: 4px 4px 15px black;
 
} 
#downloads{
    background-image: url("Images/download/download.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding:10%;
    text-align: center;
}
.Downhead{
    font-size: 70px;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    text-shadow: 4px 4px 15px black;
}
.downp{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 35px;
    color:white;
    text-shadow: 4px 4px 15px black;

}
#footer{
    padding:3%;
    text-align: center;
}
.social-icons{
    padding:10px 5px;
}
@media (max-width:768px){
    body{
        margin: 0;
        padding:0;
    }
#title{
    margin: 0;
    padding:0;
    background-image:url("C:/Users/syeds/OneDrive/Desktop/Web dev/HBO max/Images/home/Mobile/home4mob.jpg") ;
    
}
    h1{
        font-size:1.5rem;
        text-shadow: 4px 4px 15px black;
    }
    .mobilediv{
        position: relative;
        bottom: 20px;
        
        
    }
    .hbo-logo{
        
        width:40%;
        height:10%;
    }
    h2{
        font-size:1.5rem;
    }
    .content-text{
        font-size: 1rem;
    }
    .row{
        padding:10px;
    }
    



}
